In [1]:
import pandas as pd

import numpy as np

import csv,sqlite3

In [2]:
conn = sqlite3.connect("predictions_sql.db")
cursor = conn.cursor()

In [3]:
df = pd.read_csv("predictions.csv", header=None, names=["user_id", "item_id", "rating_5"])

In [21]:
df.to_sql("predictions_tb", conn, index=False)

In [122]:
# read from sql db
# pred_df = pd.read_sql_query("select * from predictions_tb limit 5;", conn)

# pred_df

          user_id     item_id  rating_5
0  A2DJV5P2NTWEK0  0001981692  4.191430
1  A2DJV5P2NTWEK0  0002008211  4.699676
2  A2DJV5P2NTWEK0  0002254565  4.702403
3  A2DJV5P2NTWEK0  0002552493  4.645525
4  A2DJV5P2NTWEK0  0002710188  4.791867

In [4]:
# store pickle files
metadata = pd.read_pickle("refined_metadata.pkl")

metadata1 = metadata[['asin', 'title', 'authors', 'lexile']]

metadata1['lexile'] = pd.to_numeric(np.where(metadata1['lexile'].str[0].str.isalpha()\
                                             , metadata1['lexile'].str[2:-1], metadata1['lexile'].str[:-1]))

metadata1.head(10)

/home/apoorv/anaconda3/envs/cs670/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,asin,title,authors,lexile
0,0001006657,I Want My Dinner,"[{""name"":""Tony Ross"",""url"":""/content/scholasti...",240
1,0001981692,Pirates,"[{""name"":""Jim Brew"",""url"":""/content/scholastic...",770
2,0002008211,Haunted,"[{""name"":""R. L. Stine"",""url"":""/content/scholas...",460
3,0002199203,Rhino,"[{""name"":""Sheila Solomon Klass"",""url"":""/conten...",660
4,0002254565,Footsteps,"[{""name"":""Pamela Rushby"",""url"":""/content/schol...",260
5,0002552493,Hollywood Dogs,"[{""name"":""Meish Goldish"",""url"":""/content/schol...",720
6,0002710188,Home Run,"[{""name"":""Sara Hoskinson Frommer"",""url"":""/cont...",180
7,0003002241,Stuart Little,"[{""name"":""Garth Williams"",""url"":""/content/scho...",500
8,0006140882,Ransom,"[{""name"":""Saddleback Publishing"",""url"":""/conte...",340
9,0006137989,Crooked House,"[{""name"":""Agatha Christie"",""url"":""/content/sch...",630

In [160]:
cursor.execute('''DROP TABLE IF EXISTS metadata_tbl''')
conn.commit()

metadata1.to_sql("metadata_tbl", conn, index=False)

In [5]:
# store utility file
utility = pd.read_pickle("utility_df.pkl")

In [6]:
utility1 = utility.stack().to_frame("rating_5")

utility1.reset_index(level=1, inplace=True)
utility1.reset_index(level=0, inplace=True)

utility1.head(10)

                    user        item  rating_5
0  A03208803KA5HCUYS17Z1  0062117378       5.0
1  A03208803KA5HCUYS17Z1  0062235656       5.0
2  A03208803KA5HCUYS17Z1  014241543X       5.0
3  A03208803KA5HCUYS17Z1  0142419400       4.0
4  A03208803KA5HCUYS17Z1  0374351384       3.0
5  A03208803KA5HCUYS17Z1  0375866566       2.0
6         A100YDQ9DIP06P  0060589507       5.0
7         A100YDQ9DIP06P  0061130990       3.0
8         A100YDQ9DIP06P  0061730831       5.0
9         A100YDQ9DIP06P  0061921033       5.0

In [111]:
cursor.execute('''DROP TABLE IF EXISTS utility_tbl''')
conn.commit()

utility1.to_sql("utility_tbl", conn, index=False)

In [7]:
# get user lexile rating
metadata2 = metadata1[["asin","lexile"]]

In [8]:
usr_lxl = utility1.merge(metadata2, how='left', left_on='item', right_on='asin')
usr_lxl.head(10)

                    user        item  rating_5        asin  lexile
0  A03208803KA5HCUYS17Z1  0062117378       5.0  0062117378     610
1  A03208803KA5HCUYS17Z1  0062235656       5.0  0062235656     580
2  A03208803KA5HCUYS17Z1  014241543X       5.0  014241543X     830
3  A03208803KA5HCUYS17Z1  0142419400       4.0  0142419400     580
4  A03208803KA5HCUYS17Z1  0374351384       3.0  0374351384     720
5  A03208803KA5HCUYS17Z1  0375866566       2.0  0375866566     760
6         A100YDQ9DIP06P  0060589507       5.0  0060589507     150
7         A100YDQ9DIP06P  0061130990       3.0  0061130990     760
8         A100YDQ9DIP06P  0061730831       5.0  0061730831     490
9         A100YDQ9DIP06P  0061921033       5.0  0061921033     720

In [9]:
# We will require timestamp, otherwise hard to defend.
# sort usr_lxl at user, rating level & select first row for each user
usr_lxl2 = usr_lxl.sort_values(by=['user', 'rating_5'], ascending=False).groupby('user').first().reset_index()
usr_lxl3 = usr_lxl2[["user","lexile"]].rename(columns={'lexile':'lexile_user'})

usr_lxl3.head()

                    user  lexile_user
0  A03208803KA5HCUYS17Z1          610
1         A100YDQ9DIP06P          150
2         A100ZQDV7L8PVV         1250
3         A104BOQOO5T2SU          430
4         A104SG9QZ92UAH          620

In [47]:
# merge user lexile ratings with predictions data & join lexile ratings of books
df2 = df.merge(usr_lxl3, how='left', left_on='user_id', right_on='user').drop('user',axis=1)\
        .merge(metadata1, how='left', left_on='item_id', right_on='asin')

df2.head()

,user_id,item_id,rating_5,lexile_user,asin,title,authors,lexile
0,A2DJV5P2NTWEK0,0001981692,4.191430,240,0001981692,Pirates,"[{""name"":""Jim Brew"",""url"":""/content/scholastic...",770
1,A2DJV5P2NTWEK0,0002008211,4.699676,240,0002008211,Haunted,"[{""name"":""R. L. Stine"",""url"":""/content/scholas...",460
2,A2DJV5P2NTWEK0,0002254565,4.702403,240,0002254565,Footsteps,"[{""name"":""Pamela Rushby"",""url"":""/content/schol...",260
3,A2DJV5P2NTWEK0,0002552493,4.645525,240,0002552493,Hollywood Dogs,"[{""name"":""Meish Goldish"",""url"":""/content/schol...",720
4,A2DJV5P2NTWEK0,0002710188,4.791867,240,0002710188,Home Run,"[{""name"":""Sara Hoskinson Frommer"",""url"":""/cont...",180

In [48]:
usr_itm_lxl = df2
usr_itm_lxl["lexile_diff"] = abs(usr_itm_lxl["lexile_user"] - usr_itm_lxl["lexile"])

In [49]:
usr_itm_lxl2 = usr_itm_lxl.drop(['asin'],axis=1).sort_values(by=['user_id', 'lexile_diff'], ascending=[False, True])

In [50]:
usr_itm_lxl2

,user_id,item_id,rating_5,lexile_user,title,authors,lexile,lexile_diff
2389317,AZXNB4Q5QCO2P,0060193263,4.058366,1050,Cowboy,"[{""name"":""Robert Klausmeier"",""url"":""/content/s...",1050,0
2389627,AZXNB4Q5QCO2P,0061240273,3.918141,1050,Belong to Me,"[{""name"":""Marisa De los Santos"",""url"":""/conten...",1050,0
2390561,AZXNB4Q5QCO2P,030726579X,3.994089,1050,Heart and Soul,"[{""name"":""Kadir Nelson"",""url"":""/content/schola...",1050,0
2390691,AZXNB4Q5QCO2P,031259612X,3.929125,1050,Wereling,"[{""name"":""Steve Feasey"",""url"":""/content/schola...",1050,0
2390741,AZXNB4Q5QCO2P,0316005363,4.074077,1050,Matter,"[{""name"":""Christopher Cooper"",""url"":""/content/...",1050,0
2390756,AZXNB4Q5QCO2P,0316040096,3.905804,1050,Ash,"[{""name"":""Malinda Lo"",""url"":""/content/scholast...",1050,0
2391574,AZXNB4Q5QCO2P,0399234764,4.254070,1050,The Cod's Tale,"[{""name"":""Mark Kurlansky"",""url"":""/content/scho...",1050,0
2391692,AZXNB4Q5QCO2P,0425209857,4.254094,1050,French Kiss,"[{""name"":""Aimee Friedman"",""url"":""/content/scho...",1050,0
2391707,AZXNB4Q5QCO2P,0439042968,4.411782,1050,882 1/2 Amazing Answers to Your Questions Abou...,"[{""name"":""Ken Marschall"",""url"":""/content/schol...",1050,0
2392085,AZXNB4Q5QCO2P,0446345342,4.263106,1050,Underworld,"[{""name"":""James Gulliver Hancock"",""url"":""/cont...",1050,0
2392218,AZXNB4Q5QCO2P,0462008177,4.008462,1050,Taiwan,"[{""name"":""Barbara A. Somervill"",""url"":""/conten...",1050,0
2392507,AZXNB4Q5QCO2P,0545229278,4.065443,1050,Leo the Snow Leopard,"[{""name"":""Craig Hatkoff"",""url"":""/content/schol...",1050,0
2392769,AZXNB4Q5QCO2P,0553273221,4.172012,1050,April Morning,"[{""name"":""Howard Fast"",""url"":""/content/scholas...",1050,0
2393353,AZXNB4Q5QCO2P,0689832362,4.282907,1050,Parallel Journeys,"[{""name"":""Eleanor H. Ayer"",""url"":""/content/sch...",1050,0
2393724,AZXNB4Q5QCO2P,0763629170,4.140487,1050,33 Snowfish,"[{""name"":""Timothy Basil Ering"",""url"":""/content...",1050,0
2393744,AZXNB4Q5QCO2P,0763638846,4.087148,1050,John Muir: America's First Environmentalist,"[{""name"":""Stanley Fellows"",""url"":""/content/sch...",1050,0
2394025,AZXNB4Q5QCO2P,0805000313,4.328771,1050,Never Sniff A Gift Fish,"[{""name"":""Patrick F. McManus"",""url"":""/content/...",1050,0
2394680,AZXNB4Q5QCO2P,1435721152,4.089624,1050,Learning the Game,"[{""name"":""Kevin Waltman"",""url"":""/content/schol...",1050,0
2389280,AZXNB4Q5QCO2P,0027897001,4.219173,1050,Dakota Dugout,"[{""name"":""Ronald Himler"",""url"":""/content/schol...",1040,10
2389476,AZXNB4Q5QCO2P,0060594527,4.111901,1050,Lost Horizon,"[{""name"":""James Hilton"",""url"":""/content/schola...",1060,10
2389478,AZXNB4Q5QCO2P,0060598395,4.316676,1050,Chinese Handcuffs,"[{""name"":""Chris Crutcher"",""url"":""/content/scho...",1040,10
2390117,AZXNB4Q5QCO2P,0140861580,3.961411,1050,Rose Madder,"[{""name"":""Stephen King"",""url"":""/content/schola...",1040,10
2390158,AZXNB4Q5QCO2P,0141348550,4.269020,1050,Diary of a Wimpy Kid: Cabin Fever,"[{""name"":""Jeff Kinney"",""url"":""/content/scholas...",1060,10
2390544,AZXNB4Q5QCO2P,0230700640,4.390010,1050,Puff the Magic Dragon,"[{""name"":""Lenny Lipton"",""url"":""/content/schola...",1040,10
2390555,AZXNB4Q5QCO2P,030682129X,4.146312,1050,John Quincy Adams,"[{""name"":""Miriam Greenblatt"",""url"":""/content/s...",1040,10
2390627,AZXNB4Q5QCO2P,0312283105,4.046547,1050,Crustaceans,"[{""name"":""Robert Clement Kray"",""url"":""/content...",1060,10
2391030,AZXNB4Q5QCO2P,0375415300,4.123954,1050,Planet Earth,[],1040,10
2391072,AZXNB4Q5QCO2P,0375829709,4.459889,1050,Babe: The Gallant Pig,"[{""name"":""Mary Rayner"",""url"":""/content/scholas...",1040,10
2391316,AZXNB4Q5QCO2P,0385732910,4.210125,1050,King Dork,"[{""name"":""Frank Portman"",""url"":""/content/schol...",1060,10
2391514,AZXNB4Q5QCO2P,0397322267,4.251839,1050,Paul Klee,"[{""name"":""Jill A. Laidlaw"",""url"":""/content/sch...",1060,10
...,...,...,...,...,...,...,...,...
16918503,A03208803KA5HCUYS17Z1,0395284252,4.238725,610,Motel of the Mysteries,"[{""name"":""David Macaulay"",""url"":""/content/scho...",1270,660
16919359,A03208803KA5HCUYS17Z1,0525466495,3.941197,610,Sea Turtles: Ocean Nomads,"[{""name"":""Jeffrey L. Rotman"",""url"":""/content/s...",1270,660
16921553,A03208803KA5HCUYS17Z1,1400156947,4.017954,610,Vanity Fair,"[{""name"":""William Makepeace Thackeray"",""url"":""...",1270,660
16921641,A03208803KA5HCUYS17Z1,1416940219,4.179713,610,Pond Circle,"[{""name"":""Betsy Franco"",""url"":""/content/schola...",1270,660
16918867,A03208803KA5HCUYS17Z1,0439321611,4.066358,610,Quidditch Through the Ages,"[{""name"":""Kennilworthy Whisp"",""url"":""/content/...",1280,670
16919858,A03208803KA5HCUYS17Z1,0553262440,3.887794,610,Dog Who Wouldn't Be,"[{""name"":""Farley Mowat"",""url"":""/content/schola...",1280,670
16919915,A03208803KA5HCUYS17Z1,059029881X,3.954018,610,Words That Built a Nation,"[{""name"":""Marilyn Miller"",""url"":""/content/scho...",1280,670
16921141,A03208803KA5HCUYS17Z1,0805066039,4.135409,610,Christmas Eve Good Night,"[{""name"":""Doug Cushman"",""url"":""/content/schola...",1280,670
16919970,A03208803KA5HCUYS17Z1,0590475746,4.240048,610,Fiery Vision: The Life and Death of John Brown,"[{""name"":""Clinton Cox"",""url"":""/content/scholas...",1290,680
16920591,A03208803KA5HCUYS17Z1,071120778X,4.352999,610,Black Ships Before Troy,"[{""name"":""Rosemary Sutcliff"",""url"":""/content/s...",1300,690
16920819,A03208803KA5HCUYS17Z1,0763630314,4.015475,610,Punkzilla,"[{""name"":""Adam Rapp"",""url"":""/content/scholasti...",1300,690
16922271,A03208803KA5HCUYS17Z1,1908843071,4.116849,610,Guinness World Records 2014 Gamer's Edition,"[{""name"":""Guinness World Records"",""url"":""/cont...",1300,690
16922039,A03208803KA5HCUYS17Z1,1582462143,4.061370,610,Making Cents,"[{""name"":""Elizabeth Keeler Robinson"",""url"":""/c...",1310,700
16919182,A03208803KA5HCUYS17Z1,0446517046,4.201684,610,Into Thin Air,"[{""name"":""Jon Krakauer"",""url"":""/content/schola...",1320,710
16919936,A03208803KA5HCUYS17Z1,0590424475,3.628355,610,Tales from Silver Lands,"[{""name"":""Paul Honoré"",""url"":""/content/scholas...",1320,710
16920678,A03208803KA5HCUYS17Z1,0758242158,4.186349,610,Never Cry Wolf,"[{""name"":""Farley Mowat"",""url"":""/content/schola...",1330,720
16921498,A03208803KA5HCUYS17Z1,0972968423,4.098301,610,Common Sense,"[{""name"":""Thomas Paine"",""url"":""/content/schola...",1330,720
16922266,A03208803KA5HCUYS17Z1,1904994954,4.145232,610,Guinness World Records 2013 Gamer's Edition,"[{""name"":""Guinness World Records"",""url"":""/cont...",1330,720
16918583,A03208803KA5HCUYS17Z1,0395883970,3.977057,610,The Gettysburg Address,"[{""name"":""Abraham Lincoln"",""url"":""/content/sch...",1340,730
16919290,A03208803KA5HCUYS17Z1,0451215052,4.173301,610,Where the River Runs,"[{""name"":""Nancy Price Graff"",""url"":""/content/s...",1340,730
16920064,A03208803KA5HCUYS17Z1,0618240349,4.029937,610,Mosque,"[{""name"":""David Macaulay"",""url"":""/content/scho...",1340,730
16916731,A03208803KA5HCUYS17Z1,006143079X,4.072743,610,"Anne Frank: The Book, The Life, The Afterlife","[{""name"":""Francine Prose"",""url"":""/content/scho...",1360,750
16921878,A03208803KA5HCUYS17Z1,1467964425,3.568763,610,Rose in Bloom,"[{""name"":""Louisa May Alcott"",""url"":""/content/s...",1360,750
16919066,A03208803KA5HCUYS17Z1,0440228549,3.644158,610,Frenchtown Summer,"[{""name"":""Robert Cormier"",""url"":""/content/scho...",1380,770
16920226,A03208803KA5HCUYS17Z1,0679767223,4.147300,610,My Dog Skip,"[{""name"":""Willie Morris"",""url"":""/content/schol...",1380,770
16922272,A03208803KA5HCUYS17Z1,1908843357,4.088929,610,Guinness World Records 2014,"[{""name"":""Guinness World Records"",""url"":""/cont...",1390,780
16918466,A03208803KA5HCUYS17Z1,0393068617,3.953347,610,Jazz,"[{""name"":""Gene Seymour"",""url"":""/content/schola...",1400,790
16916396,A03208803KA5HCUYS17Z1,0060188707,4.281250,610,Don Quixote,"[{""name"":""Miguel de Cervantes"",""url"":""/content...",1410,800
16919922,A03208803KA5HCUYS17Z1,0590400053,4.210294,610,Visiting Day,"[{""name"":""Jacqueline Woodson"",""url"":""/content/...",1430,820
16921311,A03208803KA5HCUYS17Z1,0812504267,4.212010,610,Billy Budd,"[{""name"":""Herman Melville"",""url"":""/content/sch...",1450,840

In [51]:
# distinct users
len(usr_itm_lxl2["user_id"].unique())

3822

In [52]:
usr_itm_lxl2[usr_itm_lxl2["rating_5"]>4.75].count()

user_id        1402231
item_id        1402231
rating_5       1402231
lexile_user    1402231
title          1402231
authors        1402231
lexile         1402231
lexile_diff    1402231
dtype: int64

In [53]:
usr_itm_lxl3 = usr_itm_lxl2[usr_itm_lxl2["rating_5"]>4.75]

usr_itm_lxl3.head(10)

,user_id,item_id,rating_5,lexile_user,title,authors,lexile,lexile_diff
8796540,AZWC9XAY34IPW,0140501738,4.756141,600,Corduroy,"[{""name"":""Don Freeman"",""url"":""/content/scholas...",600,0
8796769,AZWC9XAY34IPW,0142501123,4.930804,600,Room on the Broom,"[{""name"":""Axel Scheffler"",""url"":""/content/scho...",600,0
8796964,AZWC9XAY34IPW,015216748X,4.776133,600,Epossumondas,"[{""name"":""Coleen Salley"",""url"":""/content/schol...",600,0
8798009,AZWC9XAY34IPW,0399226710,4.770887,600,Pink and Say,"[{""name"":""Patricia Polacco"",""url"":""/content/sc...",600,0
8799654,AZWC9XAY34IPW,0688128971,4.918088,600,Lilly's Purple Plastic Purse,"[{""name"":""Kevin Henkes"",""url"":""/content/schola...",600,0
8799978,AZWC9XAY34IPW,0738732516,4.820977,600,Beautiful Music for Ugly Children,"[{""name"":""Kirstin Cronn-Mills"",""url"":""/content...",600,0
8797597,AZWC9XAY34IPW,0375863400,4.923251,600,Split,"[{""name"":""Swati Avasthi"",""url"":""/content/schol...",610,10
8797842,AZWC9XAY34IPW,0394810406,4.852140,600,Frederick,"[{""name"":""Leo Lionni"",""url"":""/content/scholast...",590,10
8798490,AZWC9XAY34IPW,0440417996,4.756408,600,The Name Jar,"[{""name"":""Yangsook Choi"",""url"":""/content/schol...",590,10
8798494,AZWC9XAY34IPW,0440419441,4.756099,600,When My Name Was Keoko,"[{""name"":""Linda Sue Park"",""url"":""/content/scho...",610,10

In [55]:
# At limit of rating = 4.75, a total of 275 (out of 3800) users have less
# than 10 recommended ratings
usr_itm_lxl3.groupby('user_id').count().sort_values(by='item_id').head(280)

,item_id,rating_5,lexile_user,title,authors,lexile,lexile_diff
user_id,,,,,,,
A20CPKNQU0QE97,1,1,1,1,1,1,1
A3Z9QN0RCOHEY,1,1,1,1,1,1,1
AX7QMRXX81L9K,1,1,1,1,1,1,1
AC0WM9BML7FPT,1,1,1,1,1,1,1
A26N37CPSDWD8D,1,1,1,1,1,1,1
A1EKF9JFF1XWSV,1,1,1,1,1,1,1
AOLRFN1T5BCGE,1,1,1,1,1,1,1
A1R0M8JWQL95W8,1,1,1,1,1,1,1
A30YCQ4MOZAI6Y,1,1,1,1,1,1,1
A1XYLRYFOE7P4J,1,1,1,1,1,1,1
A2E5RCH91HA20Y,1,1,1,1,1,1,1
AEH45I35PFT9O,1,1,1,1,1,1,1
A15M4UPF4MQVUE,1,1,1,1,1,1,1
A1CHM200OEN65X,1,1,1,1,1,1,1
ATJSJJ7YV866J,1,1,1,1,1,1,1
AMYTL79JMGQ6D,1,1,1,1,1,1,1
A2SP1YPM49J3W4,1,1,1,1,1,1,1
A3A8N9ULMNW2JD,1,1,1,1,1,1,1
A3TWBW1B17R151,1,1,1,1,1,1,1
A1VU9PO0DFO74X,1,1,1,1,1,1,1
A3MV1KKHX51FYT,1,1,1,1,1,1,1
A3C2Q26UR3S9AP,1,1,1,1,1,1,1
A3BVDW4DOLJAN0,1,1,1,1,1,1,1
A2JF3FZZ3PN5DK,1,1,1,1,1,1,1
A2QP1HWWV5BRHD,1,1,1,1,1,1,1
A2BFFOILIN7MQF,1,1,1,1,1,1,1
AWOYUHJ5XYGDD,1,1,1,1,1,1,1
A5TWTUNP05CPJ,1,1,1,1,1,1,1
A3J7QTHYIZ3XQT,1,1,1,1,1,1,1
AJ1ZEMJSJYDOC,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
A16BPF2Y7B8A2G,8,8,8,8,8,8,8
AZA55FJD7CCZN,8,8,8,8,8,8,8
A3BH49ZKESHDID,9,9,9,9,9,9,9
A2PCT57MWSAGX2,9,9,9,9,9,9,9
A3KMQHT68RUIBE,9,9,9,9,9,9,9
A1SMUB9ASL5L9Y,9,9,9,9,9,9,9
A17MUG8P7D8PCS,9,9,9,9,9,9,9
A1BXVZSQOJE6UE,9,9,9,9,9,9,9
A2P6KAWXJ16234,9,9,9,9,9,9,9
ADKNGIPR4BMHL,9,9,9,9,9,9,9
A36W7E8WKVKEYY,9,9,9,9,9,9,9
A2BE3MTUT0YBF0,9,9,9,9,9,9,9
A14WCM5XDC1UT3,9,9,9,9,9,9,9
A33X80DIINN48Y,9,9,9,9,9,9,9
AIQEHMC9TKGK5,9,9,9,9,9,9,9
A2V92F5R7MLCVI,9,9,9,9,9,9,9
A3QDDEW6RXVEAY,9,9,9,9,9,9,9
A1HOXKR7OKJ1X1,9,9,9,9,9,9,9
A3GD8HQOXNEZ1O,9,9,9,9,9,9,9
A1JSPVBO30TFSE,9,9,9,9,9,9,9
A2QYOMDEXP7989,9,9,9,9,9,9,9
A1PI0GN5N7M3GF,9,9,9,9,9,9,9
A3E8QNDC7CV44,9,9,9,9,9,9,9
A37BRR2L8PX3R2,9,9,9,9,9,9,9
A22AHT34TGOWO6,9,9,9,9,9,9,9
A2JRF02C5TGUN4,10,10,10,10,10,10,10
AQYJED62L1MB1,10,10,10,10,10,10,10
A24U6WGBZ4P74W,10,10,10,10,10,10,10
A2R1HUYHXV7H18,10,10,10,10,10,10,10
A3LZA698SQPCXE,10,10,10,10,10,10,10